.box-register{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.tab{
    width: max-content;
}

#finshbtn{
    width: 150px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #5B72F2 ;
    border-radius: 10px;
    color: #5B72F2;
    transition: 0.3s ease;
}
#finshbtn:hover{
    background-color: #5B72F2;
    color: #fff;
}
